@font-face {
  font-family: 'Miriam Libre', sans-serif;
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Xanh Mono', monospace;
  font-family: 'Fredoka One', cursive;
  font-family: 'Spartan', sans-serif;
}

html{
  /* width:600px; */
  /* height: 100vh; */
  margin-left: 30%;
  margin-right: 30%;

}

body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  background-image:url(../images/bgbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#cover{
  order:1;
  flex-grow: 3;
}
#cover > #thesistitle{
  margin-top: 10%;
  /* margin-bottom: 20%; */
  font-size: 2.5rem;
  font-family: 'Xanh Mono', monospace;
}
#cover > #subtitle{
  font-family: 'Miriam Libre', sans-serif;
  font-size: 1rem;
  margin-top: -6%;
}

#credit{
  margin-top: 30%;
  order:2;
  flex-grow: 1;
  font-family: 'Miriam Libre', sans-serif;
  font-size: 0.7rem;
}
#toc{
  order:3;
  flex-grow: 2;
  font-size: 0.7rem;
  font-family: 'Miriam Libre', sans-serif;
}






/* SVG */

.stroke:hover{
  fill: rgb(253, 139, 255)
}

#x{
  display: block;
  margin-top: -50%;
  transform: scale(0.3);
}
.stroke {
    fill: black;
    animation-name: floating;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
#s1{
  animation-name: floating1;
  animation-duration: 2s;
}
#s2{
  animation-name: floating2;
  animation-duration: 4s;
}
#s3{
  animation-name: floating3;
  animation-duration: 3s;
}
#s4{
  animation-name: floating4;
  animation-duration: 4s;
}
#s5{
  animation-name: floating5;
  animation-duration: 2s;
}
#s6{
  animation-name: floating6;
  animation-duration: 2.7s;
}
#s7{
  animation-name: floating7;
  animation-duration: 4s;
}
#s8{
  animation-name: floating8;
  animation-duration: 3s;
}
#s9{
  animation-name: floating9;
  animation-duration: 3s;
}
#s10{
  animation-name: floating10;
  animation-duration: 2.5s;
}


@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 5px); }
    100%   { transform: translate(0, -0px); }
}
@keyframes floating1 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 2px); }
    100%   { transform: translate(0, -0px); }
}
@keyframes floating2 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }
}
@keyframes floating3 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 9px); }
    100%   { transform: translate(0, -0px); }
}
@keyframes floating4 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 7px); }
    100%   { transform: translate(0, -0px); }
}
@keyframes floating5 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}
@keyframes floating6 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -7px); }
    100%   { transform: translate(0, -0px); }
}
@keyframes floating7 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}
@keyframes floating8 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -4px); }
    100%   { transform: translate(0, -0px); }
}
@keyframes floating9 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, -13px); }
    100%   { transform: translate(0, -0px); }
}
@keyframes floating10 {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 16px); }
    100%   { transform: translate(0, -0px); }
}



@media only screen and (max-width: 800px) {
  html{
    margin-left: 0%;
    margin-right: 0%;}

}
