html{
  /* width:600px; */
  /* height: 100vh; */
  margin-left: 30%;
  margin-right: 30%;
}

body{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  /* background-color: rgb(255, 214, 253) */
  background-repeat: no-repeat;
  background-size: cover;
}
*{
    padding: 0;
    margin: 0;
    /* font-family: 'Nanum Myeongjo', serif; */
    font-family: 'Miriam Libre', sans-serif;
}
nav::-webkit-scrollbar {
  display: none;
}
maintextbox::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: 'Miriam Libre', sans-serif;
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Xanh Mono', monospace;
}
a:link{
  text-decoration: none;
  color:black;
}
/* a:hover, a:active, a:visited{
  color:white;
  background-color: black;
} */

nav{
  order:1;
  padding-bottom: 40%;
}
ul.menu{
  padding-top: 45%;
  padding-bottom: 45%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  /* align-items: space-between; */
  height: 100%;
  min-width:35px;


  /* overflow: scroll; */
}

.cls-1{
  fill: rgb(253, 139, 255);
}
#stroke:hover, #stroke:visited, #stroke:active{
  fill: rgb(253, 139, 255);
}
#altstroke{
  fill: black;
}
#altstroke:hover, #altstroke:visited, #altstroke:active{
  fill: rgb(253, 139, 255);
}

.content{
    order:2;
    /* flex-basis: 75%; */
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
}

.informationbox {
  padding-left: 18%;
  order:1;
  flex-basis: 20vh;
  /* width: 100%; */
  /* line-height: 95%; */
}
.maintextbox{
  order:2;
  /* font-size: 4vw; */
  flex-basis: 80vh;
  overflow: scroll;
  /* height: 100vh; */
  /* padding-bottom: 10%; */
  padding-top: 10%;
  padding-bottom: 30%;
  padding-left: 2%;
  padding-right: 2%;
}
.italics{
  font-family: 'Xanh Mono', monospace;
  font-style: italic;
}
/* .maintextbox div:last-of-type{
  margin-bottom:30vh;
} */
.lyricsbox{
  display: none;
  font-family: 'Miriam Libre', sans-serif;
  text-align: left;
  /* font-size: 4vw; */
  padding-left: 10%;
  height: 30vh;
  overflow: scroll;
}

.subtitle {
  font-family: 'Xanh Mono', monospace;
  text-align: right;
  font-size: 4vh;
 }
iframe{
  display: block;
  width: 100%;
  height: 30vh;
}
img{
  display: block;
  width: 100%;
}
.lyricsreveal{
  display: inline-block;
  width:100%;
  background-color: black;
  color: white;
  text-align: center;
}
.lyricsbox{

}





@media only screen and (max-width: 800px) {
  html{
    margin-left: 0%;
    margin-right: 0%;
  }
  .subtitle {
    font-family: 'Xanh Mono', monospace;
    text-align: right;
    font-size: 4vh;
   }

   .menu > .title{
     max-width: 40px;
   }

}
