html{
  /* width:600px; */
  /* height: 100vh; */
  margin-left: 30%;
  margin-right: 30%;
}

body{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  /* background-color: rgb(255, 214, 253) */
  background-repeat: no-repeat;
  background-size: cover;
}
*{
    padding: 0;
    margin: 0;
    /* font-family: 'Nanum Myeongjo', serif; */
    font-family: 'Miriam Libre', sans-serif;
}
nav::-webkit-scrollbar {
  display: none;
}
maintextbox::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: 'Miriam Libre', sans-serif;
  font-family: 'Nanum Myeongjo', serif;
  font-family: 'Xanh Mono', monospace;
}
a:link{
  text-decoration: none;
  color:black;
}
/* a:hover, a:active, a:visited{
  color:white;
  background-color: black;
} */

.topbar{
  display: none;
  top:0;
  left:0;
  /* display:inline-block; */
  z-index:999;
}
.topbar > svg{
  display:inline-block;
  width: 14vw;;
  padding-top: 1vh;
}
#navbar{
  z-index:998;
  /* display: none; */
  order:1;
  /* flex-basis: 14%; */
  min-width: 55px;
  /* position:absolute; */
  /* background-color: rgb(255, 214, 253) */
  /* background: rgb(255,255,255); */
  /* background: linear-gradient(90deg, rgba(255,255,255,1) 60%, rgba(254,254,254,0) 100%); */
  height:100vh;
  /* overflow: scroll; */
}
nav > ul.menu {
  list-style-type: none;
  display: grid;
  grid-row: auto;
  padding-right: 0%;
}
nav > ul.menu > div{
  padding-top: 30%;
}

#stroke{
 fill: black;
}
#stroke:hover, #stroke:visited, #stroke:active{
  fill: white;
}
#altstroke{
  fill: black;
}
#altstroke:hover, #altstroke:visited, #altstroke:active{
  fill: white;
}

.content{
    order:2;
    /* flex-basis: 75%; */
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
}

.informationbox {
  padding-left: 18%;
  order:1;
  flex-basis: 20vh;
  /* width: 100%; */
  /* line-height: 95%; */
}
.maintextbox{
  order:2;
  /* font-size: 4vw; */
  flex-basis: 80vh;
  overflow: scroll;
  /* height: 100vh; */
  /* padding-bottom: 10%; */
  padding-top: 10%;
  padding-left: 2%;
  padding-right: 2%;
}
.italics{
  font-family: 'Xanh Mono', monospace;
  font-style: italic;
}
/* .maintextbox div:last-of-type{
  margin-bottom:30vh;
} */
.lyricsbox{
  display: none;
  font-family: 'Miriam Libre', sans-serif;
  text-align: left;
  /* font-size: 4vw; */
  padding-left: 10%;
  height: 30vh;
  overflow: scroll;
}

.subtitle {
  font-family: 'Xanh Mono', monospace;
  text-align: right;
  font-size: 4vh;
 }
iframe{
  display: block;
  width: 100%;
  height: 30vh;
}
img{
  display: block;
  width: 100%;
}
.lyricsreveal{
  display: inline-block;
  width:100%;
  background-color: black;
  color: white;
  text-align: center;
}
.lyricsbox{

}

@media only screen and (max-width: 800px) {
  html{
    margin-left: 0%;
    margin-right: 0%;
  }
  .subtitle {
    font-family: 'Xanh Mono', monospace;
    text-align: right;
    font-size: 4vh;
   }
   #navbar{
     z-index:998;
     /* display: none; */
     order:1;
     /* flex-basis: 14%; */
     min-width: 55px;
     /* position:absolute; */
     padding-top:20%;
     /* background-color: rgb(255, 214, 253) */
     /* background: rgb(255,255,255); */
     /* background: linear-gradient(90deg, rgba(255,255,255,1) 60%, rgba(254,254,254,0) 100%); */
     height:100vh;
     /* overflow: scroll; */
   }
   .topbar{
     /* display: none; */
     display: inline-block;
     position: fixed;
     top:0;
     left:0;
     /* display:inline-block; */
     z-index:999;
   }
   nav > ul.menu > div{
     padding-top: 10%;
   }

}
